/.states
/.git
/.deps

/Solidity Fundamentals/Homework/artifacts/
/Solidity Fundamentals/Lecture/artifacts/

/Ethereum and Smart Contracts Basics/Homework/artifacts/
/Ethereum and Smart Contracts Basics/Lecture/artifacts/


/Inheritance and Modularity/Homework/artifacts/
/Inheritance and Modularity/Lecture/artifacts/

/Smart Contracts Standards/Homework/artifacts/
/Smart Contracts Standards/Lecture/artifacts/

/Exercise - Solidity and Smart Contracts/Homework/artifacts/
/Exercise - Solidity and Smart Contracts/Lecture/artifacts/

