/.states
/.git
/.deps
.idea

/4-ethereum-and-smart-contracts-basics/Homework/artifacts/
/4-ethereum-and-smart-contracts-basics/Lecture/artifacts/

/5-solidity-fundamentals/Homework/artifacts/
/5-solidity-fundamentals/Lecture/artifacts/

/6-inheritance-and-modularity/Homework/artifacts/
/6-inheritance-and-modularity/Lecture/artifacts/

/7-smart-contracts-standards/Homework/artifacts/
/7-smart-contracts-standards/Lecture/artifacts/

/9-exercise-solidity-and-smart-contracts/Homework/artifacts/
/9-exercise-solidity-and-smart-contracts/Lecture/artifacts/


/11-debugging-and-deployment/Homework/contracts/artifacts/
/11-debugging-and-deployment/Lecture/contracts/artifacts/
